@media (max-width: 1400px) {
    header {
        padding: 17px 3%;
        transition: .2s;
    }
    header.sticky {
        padding: 10px 3%;
        transition: .2s;
    }
    .sticky .navbar a,
    .sticky .navbar i {
        color: #000;
    }
    section {
        padding: 80px 3%;
        transition: .2s;
    }
    :root {
        --big-font: 4.5rem;
        --h2-font: 2.3rem;
        --p-font: 1rem;
        transition: .2s;
    }
}

@media (max-width: 1040px) {
    #menu-icon {
        display: block;
    }

    .sticky #menu-icon {
        color: var(--text-color);
    }
    .home {
        height: 88vh;
    }
    .navbar {
        position: absolute;
        top: 0;
        right: -100%;
        width: 270px;
        height: 120vh;
        background: #3399ff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 150px 30px;
        transition: .5s all;
    }
    .navbar a {
        display: block;
        margin: 1.2rem 0;
    }
    .sticky .navbar a {
        color: var(--bg-color);
    }
    .navbar a:hover {
        color: var(--text-color);
    }
    .open {
        right: 0;
    }
    .list {
        width: 50%;
        margin-bottom: 12px;
    }
    :root {
        --big-font: 3.5rem;
        transition: .2s;
    }
}

@media (max-width: 575px) {
    .list {
        width: 100%;
    }
    .newsletter form {
        width: 350px;
    }
    :root {
        --big-font: 3rem;
        --h2-font: 1.2rem;
        transition: .2s;
    }
    .text {
        text-align: center;
    }
    .home {
        height: 85vh;
        transition: .2s;
    }
}

@media (max-width: 393px) {
    :root {
        --big-font: 2.5rem;
        --h2-font: 1.2rem;
        transition: .2s;
    }
}